@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Mono:wght@200;300&family=Roboto+Slab:wght@400;700&display=swap');
:root
{
    --fonte1 : 'Roboto Mono', cursive; /*TITULO*/
    --fonte2 : 'Roboto Slab', cursive; /*PARAGRAFOS*/
    --fonte3 : 'Roboto Slab', cursive; /*SUBTITULOS*/

    --fonte__size__titulo: 3em;
    --fonte__size__subtitulo: 2.5em;
    --fonte__size__text: 1.1em;


    font-size: 100%; /* 16 px */
    --font-size-1: 2.25rem;   /* 48px */
    --font-size-2: 1.5rem;    /* 32px */
    --font-size-3: 1rem;
    --font-size-4: 0.75rem;   /* 16px */


    --sombra--lite: 0px 0px 5px rgba(0, 0, 0, 0.249);
    --sombra--leve : 0px 0px 5px rgba(0, 0, 0, 0.349);
    --sombra--texto--leve: 0px 5px 10px rgba(0, 0, 0, 0.116);;
    --sombra--texto : 0px 5px 10px rgba(0, 0, 0, 0.322);
    --preto : #212529;
}

@media  (min-width: 768px)
{
    :root {
        --font-size-1: 3rem;   /* 48px */
        --font-size-2: 2rem;    /* 32px */
        --font-size-3: 1rem;
        --font-size-4: 1rem;   /* 16px */

    }
}



*
{
    margin: 0px;
    padding: 0px;
}

p
{
    /* color: red; */
    font-family: var(--fonte2);
    text-indent: 20px;
    
}

.size__titulo 
{
    font-size: var(--fonte__size__titulo);
}

.size__texto
{
    font-size: var(--fonte__size__text);
}

.size__subtitulo
{
    font-size: var(--fonte__size__subtitulo);
}

.text-shadow
{
    text-shadow: var(--sombra--texto--leve);
}

.nav 
{
    /* background-color: blue; */
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 1000; */
    width: 100%;
    /* border: 1px solid transparent; */
    
    transition: all 0.5s ease;
}

.nav__shadow 
{
    /* background-color: black; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), transparent);

    transition: all 0.5s ease;
}

.nav .main__listItem 
{

    /* transition: all 2s ease; */
    animation: skew 2.5s ease infinite;
}

.nav .main__listItem:hover 
{
    transform: scale(1.2);
}


.nav .main__listItem a 
{
    font-size: var(--font-size-1);
    /* background-color: red; */

}

.nav .main__listItem:hover a
{
    color: black;
    transform: scale(1.2);
    
}
h4, h5, h6
{
    font-family: var(--fonte3);
}

h2
{
    font-family: var(--fonte2);
    margin-top: 40px;
    /* font-weight: ; */
}
html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1
{
    font-family: var(--fonte1);
}

.italic
{
    font-style: italic;
    font-weight: lighter;
}

.bold
{
    font-weight: 700;

}

.text__link
{
    color: rgb(0, 0, 189);
    text-decoration: none;
}

.text__link:hover 
{
    text-decoration: underline;
    text-underline-offset: 2px;
}

.arrow
{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid var(--preto);
    position: fixed;
    bottom: 3%;
    /* display: ;visibili */
    visibility: hidden;
    transform: translateX(-100px);
    transition: all 0.5s ease;
    opacity: 0.5;
    background-color: r;
}

.arrow:hover 
{
    opacity: 1;
    background-color: var(--preto);
    color: white;
    /* border: 1px solid white; */
    
}

.visible
{
    /* display: block; */
    transform: translateX(100px) translateY(-50px);
    
    
}



.apresentacao
{
    /* background-color: rgba(0, 0, 255, 0.308); */
    /* height: 600px; */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    background-color: white;
   
}

.apresentacao:hover .arrow
{
    display: none;
    /* opacity: 1; */
}

.main__title
{
    font-size: 6rem;
    /* background-color: red !important; */
    z-index: 2;
    /* text-shadow: -6px 2px 5px rgba(0,0,0,0.14); */
    text-shadow: var(--sombra--texto);

    position: relative;
}

.main__title--line
{
    border: 2px solid var(--preto);
    width: 85%;
    position: relative;
    bottom: 20px;
    z-index: 2;
    animation: lineEternal 6s ease-in-out infinite;
}


.main__group
{
    width: 80%;
    margin-top: 50px;
    /* background-color: yellow; */
    border-radius: 15px;
    padding: 30px;
    /* border: 5px solid whitesmoke; */
}

.main__sub 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__sublist
{
    font-size: var(--font-size-3);
    /* background-color: red; */
    color: rgb(61, 61, 61);
    text-align: center;
    /* text-shadow: 0px 15px 5px rgba(0,0,0,1.15); */
}




.main__sublist--link
{
    text-decoration: none;
    color: var(--preto);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
    margin: 0px 10px;
    letter-spacing: 5px;
    font-family: var(--fonte1);
    font-weight: 200;
    transition: text-shadow 0.5s ease;

    transition: all 0.5s ease;
}



.main__sublist--link:hover, .ALL__main__sublist--link:hover 
{
    text-shadow: 0px 0px 0px rgba(0,0,0,1.15);
    /* font-weight: 300; */
    transform: scale(1.2);
    transition: all 0.5s ease;
}



.main__listGroup
{
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__list 
{
    /* background-color: red; */
    display: flex;
    list-style: none;
    padding: 0px 5px;
}

.main__listItem
{
    /* background-color: rgba(255, 255, 0, 0.685); */
    margin: 0px 10px;
    padding: 5px 15px;
    
    font-family: var(--fonte1);
    font-weight: 200;

    transition: transform 1s ease;
}

.active
{
    width: 1px;
    /* height: 1px ; */
    border: 1px solid transparent;
    /* transform: rotatex(deg); */
    transition: all 0.3s ease;

}

.main__listItem a 
{
    text-decoration: none;
    color: rgb(95, 95, 95);
    
    text-shadow: 0px 2px 5px rgba(0,0,0,0.14);
    transition: all 0.5s ease;
}



.main__listItem:hover 
{
    transform: translateX(5px) translateY(5px) scale(1.1);
    font-weight: 300;
    transition: all 0.5s ease;
}

.main__listItem:hover a
{
    color: var(--preto);

} 

.main__listItem:hover .active 
{
    border: 1px solid var(--preto);
    width: 100%;
}


/* Iniciacao do conteudo */
.conteudo
{
    width: 100%;
    /* background-color: red; */
    /* height: 500px; */
}



.projeto__npr
{
    width: 100%;
    min-height: 300px;
    /* background-color: rgba(0, 128, 0, 0.151); */
    /* border: 2px solid var(--preto); */
}



.col__divid h5 
{
    font-weight: bold;
    text-align: center;
}


.ALL__main__sublist--link 
{
    text-decoration: none;
    color: var(--preto);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
    margin: 0px 10px;
    letter-spacing: 5px;
    /* background-color: yellow; */
    padding: 5px 10px;
    margin: 10px 15px;
    transition: text-shadow 0.5s ease;
}

.github--link .github 
{
    /* background-color: red; */
    padding: 10px;

    transition: transform 0.5s ease;
}

.github--link:hover .github 
{
    transform: scale(1.2);
}

.ALL__main__sublist
{
    color: rgb(61, 61, 61);
    list-style: none;
    /* background-color: rgba(255, 0, 0, 0.247); */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.col-info
{
    letter-spacing: 1px;
    /* background-color: red; */
    
    padding-left: 30px;

}

.col-info p 
{
    text-indent: 20px;
}

.col__info--text
{
    width: 80%;
    margin: auto;
}

.logos
{
    /* background-color: red; */
    width: 100%;
    /* position: relative; */
    /* bottom: 0px; */
}

.paleta
{
    /* background-color: red; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cor 
{
    width: 100px;
    height: 100px;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--preto);
}

.corInfo
{
    /* background-color: blue; */
    width: 100%;
    /* display: none; */
    visibility: hidden;
    height: 100%;
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
    content: "";
    transition: all 0.5s ease;
}

.cor:hover  .corInfo
{
    visibility: initial;
    background-color: rgba(0, 0, 0, 0.13);
    color: white;

    cursor: default;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Sobre Mim  */
.sobreMim
{
    /* background-color: red; */
    /* width: 100%; */
    min-height: 300px;
}

.tabelaConhecimentos
{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: start;
    /* border: 1px solid var(--preto); */
    border-radius: 5px;
    width: 60%; 
    box-shadow: var(--sombra--leve);
    margin: 30px auto;
}

.tabelaConhecimentos .tabelaH2 
{
    /* background-color: var(--preto); */
    color: white;
    font-weight: 300;
    font-family: var(--fonte1);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabelaH2 h2 
{
    margin: 0px;
}
.conhecimentos
{
    /* background-color: red; */
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid var(--preto);


}

.conhecimentos .celulas
{
    background-color: var(--preto);
    color: white;
    border-radius: 0px 0px 5px 0px;
    box-shadow: var(--sombra--leve);
    /* font-weight: ; */
    letter-spacing: 2px;
    padding: 5px 10px;
    margin: 10px;
} 

.my__picture
{
    width: 280px;
    height: 280px;
    margin: 20px auto;
    background-color: rebeccapurple;
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: var(--sombra--lite);
}

.card__projetos
{
    /* background-color: red; */
    border-radius: 0px;
    width: 350px;
    margin: 5px 5px;
    padding: 0px;
    border: 1px solid var(--preto);
}



.card__keywords
{
    /* background-color: red; */
    width: 100%;
    min-height: 50px;

}

.card__keywords h6 
{
    font-size: var(--font-size-4);
}

.btn
{
    /* background-color: red; */
    border: 1px solid var(--preto);
    font-weight: bold;


    transition: transform 0.5s ease;

}

.btn:hover 
{
    background-color: var(--preto);
    color: white;

    box-shadow: var(--sombra--lite);

    transform: translateX(2px) translateY(2px);
}

.card-text
{
    text-indent: 0px;
}

.card-title
{
    text-shadow: 0px 0px 0px rgba(0,0,0,1.15);
    /* font-weight: 300; */
    /* transform: scale(1.2); */
    transition: all 0.5s ease;
}

.modal-title
{
    /* color: red; */
    font-size: var(--font-size-2) !important;
    font-weight: bold;
    text-align: center;
}
.card__projetos:hover .card-title 
{
    /* transform: scale(1.1); */
    letter-spacing: 10px;
}

.card__projetos:hover 
{
    box-shadow: var(--sombra--leve);
    transition: box-shadow 0.5s ease;
}

.card__keywords p
{
    /* background-color: var(--preto); */
    /* padding: 5px 10px; */
    /* color: white; */
    /* font-weight: bold; */
    /* margin: 5px 10px; */
    /* width: 120px; */
    text-align: center;

    text-decoration: none;
    color: var(--preto);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
    margin: 0px 10px;
    /* letter-spacing: 5px; */
    font-family: var(--fonte1);
    font-weight: 200;
    /* transition: text-shadow 0.5s ease; */
    font-size: var(--font-size-4);
}

/* Preview */


.projetos__prints
{
    height: 150px;
    width: 150px;
    /* object-fit: scale-down; */

    object-fit: fill;
}

.projetos__prints-item
{
    width: 100%;
    height: 100%;
}

@media screen and (min-width:1401px)
{
        .main__sublist--hidden
    {
        display: none;
    }
    .main__title--hidden 
    {
        display: none;
    }
}

@media screen and (max-width:1400px) /*Quando for uma tela menor*/
{
    .apresentacao
    {
        justify-content: start;
    }
    .main__group 
    {
        /* background-color: rgba(255, 0, 0, 0.13); */
        width: 100%;
    }

    .main__listGroup{
        position: sticky;
    }

    .main__sub 
    {
        width: 100%;
    }

    .main__title
    {
        /* background-color: red; */
        display: none;
    }


    .main__sublist 
    {
        display: none;
    }

    .main__title--hidden
    {
        font-size: 3em;
        text-align: center;
        font-weight: bold;

    }

    .main__title--line-hidden
    {
        width: 50%;
        margin: auto;
        border: 1px solid var(--preto);
        animation: lineEternal--hidden 5s infinite;
    }

    .main__title--line--hidden-1
    {
        width: 50%;
        
        
        margin: auto;
        margin-top: 20px;
        border: 2px solid var(--preto);

        animation: lineEternal--hidden--md 5s infinite;
    }

    .main__sublist--hidden 
    {

        list-style: none;
        /* background-color: rgba(0, 0, 255, 0.185); */
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 65%;

        margin: auto;
    }

    .main__sublist--link 

    {
        font-size: var(--font-size-3);
        /* background-color: red; */
        padding: 5px 10px;
        margin: 5px 15px;
    }


    .main__title--line
    {
        display: none;
        width: 40%;

    }

    .sobreMIm 
    {
        margin: auto;   
        /* width: ;  */
    }

    

}

@media (min-width: 550px) and (max-width: 800px)
{
    .sobreMIm 
    {
        width: 80%;
    }
    .sobreMIm p
    {
        /* background-color: red; */
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
    }
}


@media screen and (max-width:500px)
{
    h4
    {
        text-align: center;
    }
    .visible 
    {
        display: block;
        transform: translateX(-20px) ;
        position: fixed;
        bottom: 30px;
    }
    
    .apresentacao 
    {
        /* background-color: blue; */
        margin: auto;
        width: 100%;
    }
    .main__group
    {
        /* background-color: red; */
        width: 100%;
        padding: 0px;
    }

    .main__title--hidden
    {
        font-size: var(--font-size-1);
    }

    .main__sublist--hidden
    {
        /* background-color: red; */
        width: 100%;
        text-align: center;
        flex-direction: column-reverse;

    }

    .main__sublist--link 
    {
        font-weight: bold;
        font-size: var(--font-size-4);
        /* background-color: red; */
    }
    
    .ALL__main__sublist
    {
        /* background-color: red; */
        /* display: flex; */
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .ALL__main__sublist--link
    {
        text-align: center;
        font-size: var(--font-size-3);
        /* background-color: red; */
        text-wrap: wrap;
        font-family: var(--fonte1);

        transition: all 0.5s ease;
    }

    .main__listGroup
    {
        text-align: center;
    }

    .main__listItem 
    {
        font-size: var(--font-size-3);
        /* background-color: red; */
        padding:  10px 2px;
    }

    .col__info--text 
    {
        width: 100%;
    }

    .tabelaConhecimentos
    {
        width: 100%;
        margin: auto;
        /* background-color: blue; */
    }

    .sobreMIm 
    {
        /* background-color: red; */
        width: 100%;
        /* margin: auto; */
    }

    .sobreMIm p
    {
        padding-left: 20px;
        padding-right: 20px;
        /* background-color: red; */
    }
}



/* @keyframes lineEternal{
    0%
    {
        width: 0px;
        border: 2px solid transparent;
    }
    50%
    {
        width: 90%;

        border: 2px solid var(--preto);

    }
    100%
    {
        width: 0px;
        border: 2px solid rgb(230, 230, 230);
    }
} */

@keyframes lineEternal {
    0% {
      width: 0px;
      border: 2px solid transparent;
      /* height: 0px; */
    }
    50% {
      width: 50%;
      border: 2px solid var(--preto);
      /* height: 10px; */
    }

    100% {
      width: 100%;
      border: 2px solid transparent;
      /* height: 0px; */
    }
  }

  @keyframes lineEternal--hidden{
    0%{
        width: 0px;
        border: 2px solid transparent;
    }

    50%{
        width: 50%;
        border: 2px solid var(--preto);

    }

    100%{
        width: 0px;
        border: 2px solid transparent;
    }
  }

  @keyframes lineEternal--hidden--md
  {
    0%{
        width: 0px;
        border: 2px solid transparent;
    }

    50%{
        width: 25%;
        border: 2px solid var(--preto);

    }

    100%{
        width: 0px;
        border: 2px solid transparent;
    }
  }

.git 
{
    color: var(--preto);
    text-decoration: none;
}
.git:hover  
{
    text-decoration: underline;
}

.git:hover label 
{
    border: 1px solid var(--preto);

}
.elementProject
{
    color: white;
    padding: 5px;
    border: 2px solid white;
    font-weight: bold;
    font-size: 1em;
    height: auto;
    font-family: var(--fonte2);
    transition: all 0.5s ease;
    animation: element 10s infinite;
}



.elementProject a 
{
    text-decoration: none;
    color: white;
}

.elementProject:hover 
{
    pointer-events: fill;
    border: 2px solid  var(--preto);
    background-color: white;
    /* animation: none; */
}

.elementProject:hover a 
{
    color: var(--preto);
}


.elementPMG
{
    animation: element 9s infinite;
}

.elementNPR
{
    animation: element 8s infinite;
}

.elementVL
{
    animation: element 7s infinite;
}
.control
{
    /* background-color: rgba(255, 0, 0, 0.3+08); */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.link__head
{
    color: black  !important; 
   
}

@keyframes element{
    0%
    {
        transform: translateX(200px) translateY(10px) scale(1);
        transition: all 10s linear;
    }

    50%
    {
        transform: translateX(-400px) translateY(-20px) scale(1.3);
        transition: all 10s linear;
    }

    100%
    {
        transform: translate(+200px) translateY(10px) scale(1);
        transition: all 10s linear;
    }
}

@keyframes skew{
    0%
    {
        transform: translateX(10px) ;
    }

    50%
    {
        transform: translateX(-20px) ;
    }

    100%{
        transform:translateX(10px) ;
    }
}